body{
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  background-image: url("../images/HomePage.png");
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  overflow: hidden; 
}

.message {
  text-align: center;
  margin-bottom: 20px;
}

.message h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0057b300;
}

.images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.computer,
.player {
  flex-basis: 45%;
  text-align: center;
  
}

.computer img,
.player img {
  justify-content: space-around;
  max-width: 100%;
  width: 200px;
  height: 185px;
}

.box {
  text-align: center;
}

.points {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.score {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.options {
  display: flex;
  justify-content: center;
}

.button {
  width: 38vh;
  height: 9vh;
  margin: 0 5px;
  font-size: 18px;
  border-radius: 10%;
}

.bttn1{
  background-color: transparent;
  background-image: url("../images/Player.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 2.1vh;
  height: 8vh;
  width: 5vh;
  
}
.bttn2{
  background-color: transparent;
  background-image: url("../images/Player.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 5vh;
  
}
.bttn3{
  background-color: transparent;
  background-image: url("../images/Player.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 5vh;
  
}
.bttn4{
  background-color: transparent;
  background-image: url("../images/Player.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 5vh;
  
}
.bttn5{
  background-color: transparent;
  background-image: url("../images/Player.png");
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: 8vh;
  width: 5vh;
  
}
.bttn6{
  background-color: transparent;
  background-image: url("../images/Player.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 5vh;
  
}

.winner {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

  @keyframes shakePlayer {
    0% {
      transform: rotate(20deg);
    }
    25% {
      transform: rotate(-20deg);
    }
    50% {
      transform: rotate(20deg);
    }
    75% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  