body{
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  background-image: url("../images/HomePage.png");
}

.container {
  display: block;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  overflow: hidden; 
}

.message {
  text-align: center;
  margin-bottom: 20px;
}

.message h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.computer,
.player {
  flex-basis: 45%;
  text-align: center;
  
}

.computer img,
.player img {
  justify-content: space-around;
  max-width: 100%;
  width: 200px;
  height: 185px;
}

.box {
  text-align: center;
}

.points {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.score {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 29px;
}

.button {
  width: 38vh;
  height: 9vh;
  margin: 0 5px;
  font-size: 18px;
  border-radius: 10%;
}

.bttn{
  background-color: transparent;
  background-position: center;
  background-size: cover;
  flex: 0 0 20%;
  height: 7vh;
  width: 10px;
}

.bttn:nth-child(1) {
  background-image: url("../images/1.png");
}

.bttn:nth-child(2) {
  background-image: url("../images/2.png");
}

.bttn:nth-child(3) {
  background-image: url("../images/3.png");
}

.bttn:nth-child(4) {
  background-image: url("../images/4.png");
}

.bttn:nth-child(5) {
  background-image: url("../images/5.png");
}

.bttn:nth-child(6) {
  background-image: url("../images/6.png");
}

.winner {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

  @keyframes shakePlayer {
    0% {
      transform: rotate(20deg);
    }
    25% {
      transform: rotate(-20deg);
    }
    50% {
      transform: rotate(20deg);
    }
    75% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  